<div class="container" style="margin-top: 150px;" onclick="changePicture()">
<img id="insight_1" src="/static/assets/img/Insights.png" class="map-image" alt="Map Image" style="width: -webkit-fill-available !important;"/>
<img id="insight_2" src="/static/assets/img/Store Manager.png" class="map-image" alt="Map Image" style="width: -webkit-fill-available !important; display: none;"/>

</div>


<script>

    function changePicture(){

        insight_1 = document.getElementById("insight_1").style.display = 'none';
        insight_2 = document.getElementById("insight_2").style.display = 'block';

    }
    






</script>